<footer>
  <div class="footer-gray">
    <div class="footer-custom">
      <div class="footer-lists">
        <div class="footer-list-wrap">
          <h6 class="ftr-hdr">Front-end Dev</h6>
          <ul class="ftr-links-sub">
            <li>Phạm Phú Thuận</li>
            <li>0936-1959-42</li>
          </ul>
          <h6 class="ftr-hdr">Back-end Dev</h6>
          <ul class="ftr-links-sub">
            <li>Trương Đức Thịnh</li>
            <li>070-294-8947</li>
          </ul>
        </div>
        <!--/.footer-list-wrap-->
        <div class="footer-list-wrap">
          <h6 class="ftr-hdr">Nhóm Trò Chơi</h6>
          <ul class="ftr-links-sub">
            <li>
              <a routerLink="Luyến ái" rel="nofollow">Trò chơi luyến ái</a>
            </li>
            <li>
              <a routerLink="Phong tục" rel="nofollow">Trò chơi phong tục</a>
            </li>
            <li>
              <a routerLink="Trận chiến" rel="nofollow">Trò chơi trận chiến</a>
            </li>
            <li>
              <a routerLink="Trí tuệ" rel="nofollow">Trò chơi trí tuệ</a>
            </li>
            <li>
              <a routerLink="Nghề nghiệp" rel="nofollow"
                >Trò chơi nghề nghiệp</a
              >
            </li>
          </ul>
        </div>
        <div class="footer-list-wrap">
          <h6 class="ftr-hdr">Trò Chơi Việt</h6>
          <ul class="ftr-links-sub">
            <li>
              <a routerLink="Trang chủ" rel="nofollow">Trang chủ</a>
            </li>
            <li>
              <a routerLink="Giới thiệu" rel="nofollow">Giới thiệu</a>
            </li>
            <li>
              <a routerLink="Liên hệ" rel="nofollow">Liên hệ</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer-social">
        <h6 class="ftr-hdr follow">Follow Us</h6>
        <ul>
          <li>
            <a
              href="https://www.facebook.com/art.com"
              title="Facebook"
              onclick="_gaq.push(['_trackSocial', 'Facebook', 'Follow', 'Footer', 'undefined', 'True']);"
            >
              <img
                width="24"
                height="24"
                alt="Like us on Facebook"
                src="http://cache1.artprintimages.com/images/jump_pages/rebrand/footer/fb.png"
              />
            </a>
          </li>
          <li>
            <a
              href="https://plus.google.com/108089796661280870153"
              title="Google+"
              onclick="_gaq.push(['_trackSocial', 'GooglePlus', 'Follow', 'Footer', 'undefined', 'True']);"
            >
              <img
                width="24"
                height="24"
                alt="Follow us on Google+"
                src="http://cache1.artprintimages.com/images/jump_pages/rebrand/footer/gplus.png"
              />
            </a>
          </li>
          <li>
            <a href="https://pinterest.com/artdotcom/" target="_blank">
              <img
                width="24"
                height="24"
                alt="Follow us on Pinterest"
                src="http://cache1.artprintimages.com/images/jump_pages/rebrand/footer/pin-badge.png"
              />
            </a>
          </li>
          <li>
            <a target="_blank" href="http://instagram.com/artdotcom/">
              <img
                width="24"
                height="24"
                alt="Follow us on Instagram"
                src="http://cache1.artprintimages.com/images/jump_pages/rebrand/footer/instagram-badge.png"
              />
            </a>
          </li>
          <li>
            <a
              href="https://www.twitter.com/artdotcom"
              title="Twitter"
              onclick="_gaq.push(['_trackSocial', 'Twitter', 'Follow', 'Footer', 'undefined', 'True']);"
            >
              <img
                width="67"
                alt="Follow us on Twitter"
                src="http://cache1.artprintimages.com/images/jump_pages/rebrand/footer/twitter.png"
              />
            </a>
          </li>
        </ul>
      </div>
      <!--/.footer-social-->
      <!-- ADMIN -->
      <a routerLink="Đăng nhập">
        <button class="button button1">Quản trị</button>
      </a>
      <!-- /.ADMIN -->
      <!--footer-custom-->
      <div class="footer-legal">
        <p>
          &copy; Trochoiviet.com All Rights Reserved. |
          <a href="/help/privacy-policy.html" rel="nofollow">Privacy Policy</a>
          | <a href="/help/terms-of-use.html" rel="nofollow">Terms of Use</a> |
          <a href="/help/terms-of-sale.html" rel="nofollow">Terms of Sale</a>
        </p>
      </div>
    </div>
    <!--/.footer-custom-->
  </div>
  <!--/.footer-gray-->
</footer>
