<div class="classify">
  <div class="title">
    <h1>Nhóm trò chơi trận chiến</h1>
  </div>
  <div class="cards">
    <a href="#" class="clickable-card">
      <article>
        <div class="article-wrapper">
          <figure>
            <img src="../../../assets/DuaThuyen.jpg" alt="" />
          </figure>
          <div class="article-body">
            <h2>Đua thuyền</h2>
            <p>
              Lễ hội đua thuyền được tổ chức để mong cầu một năm mới khai thông
              sông rạch, mưa thuận gió hòa, cuộc sống được ấm no hạnh phúc.
              Trong lễ hội, các làng sẽ lập ra thành từng đội để thi đấu, đội
              nào về đích đầu tiên sẽ mang một ý nghĩa rất may mắn, trong năm đó
              làm gì cũng thuận lợi, tài lộc thì phơi phới
            </p>
            <span class="read-more">Tìm hiểu</span>
          </div>
        </div>
      </article>
    </a>
    <a href="#" class="clickable-card">
      <article>
        <div class="article-wrapper">
          <figure>
            <img src="../../../assets/Rongranlenmay.png" alt="" />
          </figure>
          <div class="article-body">
            <h2>Rồng rắn lên mây</h2>
            <p>
              Rồng rắn lên mây là một trò chơi dân gian gắn liền với tuổi thơ
              của nhiều người, đặc biệt là đối với những đứa bé sinh ra và lớn
              lên tại những vùng nông thôn có nhiều ruộng lúa. Rồng rắn lên mây
              đòi hỏi sự nhanh nhẹn, khéo léo, cũng như tinh thần đoàn kết, khả
              năng đối đáp của các bạn nhỏ. Đặc biệt đây còn là một trò chơi
              liên quan đến nghi thức cầu mưa của cư dân nông nghiệp.
            </p>
            <span class="read-more">Tìm hiểu</span>
          </div>
        </div>
      </article>
    </a>
    <a href="#" class="clickable-card">
      <article>
        <div class="article-wrapper">
          <figure>
            <img src="../../../assets/KeoCo.jpg" alt="" />
          </figure>
          <div class="article-body">
            <h2>Kéo co</h2>
            <p>
              Kéo co là một tập quán xã hội có tính nghi lễ với ý nghĩa cầu mong
              mưa thuận, gió hòa, mùa màng bội thu, cuộc sống ấm no, hạnh phúc
              hay những tiên đoán liên quan đến sự thành công hay thất bại của
              các hoạt động nông nghiệp. Người ta tin rằng, có thực hành và tuân
              thủ những luật lệ trong nghi lễ kéo co thì mùa màng mới tươi tốt,
              chăn nuôi, trồng trọt mới sinh sôi nảy nở.
            </p>
            <span class="read-more">Tìm hiểu</span>
          </div>
        </div>
      </article>
    </a>
    <a class="clickable-card">
      <article>
        <div class="article-wrapper">
          <figure>
            <img src="../../../assets/Dangcapnhat.jpg" alt="" />
          </figure>
          <div class="article-body">
            <h2>Đang cập nhật</h2>
            <p>Đang cập nhật</p>
            <span class="read-more">Tìm hiểu</span>
          </div>
        </div>
      </article>
    </a>
  </div>
</div>
