<div class="sideshows">
  <ul class="slideshow">
    <a href="Trận chiến">
      <li>
        <a href="Trận chiến">
          <span>
            <img src="../../../assets/KeoCo.jpg" alt="" />
          </span>
        </a>
      </li>
    </a>
    <li>
      <span
        ><a routerLink="Trận chiến"></a
        ><img src="../../../assets/DuaThuyen.jpg" alt=""
      /></span>
    </li>
    <li>
      <span
        ><a routerLink="Phong tục"></a
        ><img src="../../../assets/PhaoDat.jpg" alt=""
      /></span>
    </li>
    <li>
      <span
        ><a routerLink="Nghề nghiệp"></a
        ><img src="../../../assets/NgheNghiep.jpg" alt=""
      /></span>
    </li>
    <li>
      <span>
        <a routerLink="Phong tục">
          <img src="../../../assets/Conguoi.jpg" alt="" />
        </a>
      </span>
    </li>
  </ul>
</div>
