<div class="classify">
  <div class="title">
    <h1>Nhóm trò chơi phong tục</h1>
  </div>
  <div class="cards">
    <a href="#" class="clickable-card">
      <article>
        <div class="article-wrapper">
          <figure>
            <img src="../../../assets/PhaoDat.jpg" alt="" />
          </figure>
          <div class="article-body">
            <h2>Pháo đất</h2>
            <p>
              Pháo đất là một trong những trò chơi dân gian bắt nguồn từ sự kiện
              trận đánh Bạch Đằng, con voi của Trần Hưng Đạo đã bị sa lầy ở khúc
              sông Hóa (Thái Bình). Nhân dân vùng này đã dùng đất ném xuống để
              cho voi thoát lên. Từ đó để ghi nhớ về sự kiện này, nhân dân
              thường hay mở hội thi pháo đất và được giữ gìn cho đến ngày nay.
            </p>
            <span class="read-more">Tìm hiểu</span>
          </div>
        </div>
      </article>
    </a>
    <a href="#" class="clickable-card">
      <article>
        <div class="article-wrapper">
          <figure>
            <img src="../../../assets/danhphet.jpg" alt="" />
          </figure>
          <div class="article-body">
            <h2>Đánh phết</h2>
            <p>
              Đánh phết là trò thi đấu chơi vào ngày hội xuân ở đồng bằng Bắc
              Bộ. Sân chơi là sân đình, hai đầu sân (theo hướng Đông-Tây) có
              vòng tròn vạch vôi hay đào lỗ làm mục tiêu.
            </p>
            <span class="read-more">Tìm hiểu</span>
          </div>
        </div>
      </article>
    </a>
    <a class="clickable-card">
      <article>
        <div class="article-wrapper">
          <figure>
            <img src="../../../assets/Dangcapnhat.jpg" alt="" />
          </figure>
          <div class="article-body">
            <h2>Đang cập nhật</h2>
            <p>Đang cập nhật</p>
            <span class="read-more">Tìm hiểu</span>
          </div>
        </div>
      </article>
    </a>
  </div>
</div>
