<div class="container">
  <div class="left">
    <div class="border">
      <div class="header">
        <h2 class="animation a1">Đăng nhập</h2>
        <h4 class="animation a2">Đăng nhập dành riêng cho quản trị viên</h4>
      </div>
      <div class="form">
        <input
          type="email"
          class="form-field animation a3"
          placeholder="Email"
        />
        <input
          type="password"
          class="form-field animation a4"
          placeholder="Mật khẩu"
        />
        <button class="animation a5">Đăng nhập</button>
      </div>
    </div>
  </div>
  <div class="right"></div>
</div>
