<div class="container animation a0">
  <div class="left">
    <div class="border">
      <div class="header">
        <h2 class="animation a1">Hỗ trợ chúng tôi</h2>
        <h4 class="animation a2">
          Giúp chúng tôi hoàn thiện hơn bằng cách gợi ý cho chúng tôi thêm về
          các trò chơi mà bạn biết hoặc phản hồi về những thông tin chưa đúng
          với thực tế. Xin cảm ơn.
        </h4>
      </div>
      <div class="form">
        <input
          type="name"
          class="form-field animation a3"
          placeholder="Họ tên"
        />
        <input
          type="email"
          class="form-field animation a4"
          placeholder="Email"
        />
        <input
          type="content"
          class="form-field animation a5 label-size"
          placeholder="Nội dung"
        />
        <button class="animation a6">Gửi</button>
      </div>
    </div>
  </div>
</div>
