<div id="header">
  <div id="logo">
    <a href="">
      <img src="../../assets/Logo.jpg" alt="" />
    </a>
  </div>
  <!-- Bắt đầu: Nav-->
  <ul id="nav">
    <li><a routerLink="Trang chủ">Trang chủ</a></li>
    <li>
      <a routerLink="Giới thiệu">Giới thiệu</a>
    </li>
    <li>
      <a>
        Nhóm trò chơi
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-chevron-down"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
          />
        </svg>
      </a>
      <ul class="subnav1">
        <li><a routerLink="Luyến ái">Luyến ái</a></li>
        <li><a routerLink="Phong tục">Phong tục</a></li>
        <li><a routerLink="Trận chiến">Trận chiến</a></li>
        <li><a routerLink="Trí tuệ">Trí tuệ</a></li>
        <li><a routerLink="Nghề nghiệp">Nghề nghiệp</a></li>
        <li><a routerLink="#">Đang cập nhật...</a></li>
      </ul>
    </li>

    <li>
      <a routerLink="Hỗ trợ chúng tôi">Hỗ trợ chúng tôi</a>
    </li>
  </ul>
  <!-- Kết thúc: Nav-->
  <!-- Bắt đầu: Search-->
  <div class="wrap">
    <div class="search">
      <input
        type="text"
        class="searchTerm"
        placeholder="Trò chơi gì ấy nhỉ ???"
      />
      <button type="submit" class="searchButton">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-search margin"
          viewBox="0 0 16 16"
        >
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
