<div class="classify">
  <div class="title">
    <h1>Nhóm trò chơi trí tuệ</h1>
  </div>
  <div class="cards">
    <a href="#" class="clickable-card">
      <article>
        <div class="article-wrapper">
          <figure>
            <img src="../../../assets/OAnQuan.jpg" alt="" />
          </figure>
          <div class="article-body">
            <h2>Ô ăn quan</h2>
            <p>
              Ô ăn quan, hay còn gọi tắt là ăn quan hoặc ô quan là một trò chơi
              dân gian của trẻ em Việt Nam. Đây là trò chơi có tính chất chiến
              thuật thường dành cho hai người chơi trở lên thường là từ 2 đến 3
              người và có thể sử dụng các vật liệu đa dạng, dễ kiếm để chuẩn bị
              cho trò chơi.
            </p>
            <span class="read-more">Tìm hiểu</span>
          </div>
        </div>
      </article>
    </a>
    <a href="#" class="clickable-card">
      <article>
        <div class="article-wrapper">
          <figure>
            <img src="../../../assets/CoGanh.png" alt="" />
          </figure>
          <div class="article-body">
            <h2>Cờ gánh</h2>
            <p>
              Cờ Gánh (hay Cờ Chém), là một trò chơi chiến thuật, dành cho hai
              người chơi. Trò chơi này có nguồn gốc từ tỉnh Quảng Nam, Việt Nam.
              Có nhiều giả thiết khác nhau về sự hình thành của loại cờ đơn
              giản, độc đáo này nhưng tựu chung lại, nó là một nét văn hóa đặc
              sắc của con người nơi đây.
            </p>
            <span class="read-more">Tìm hiểu</span>
          </div>
        </div>
      </article>
    </a>
    <a href="#" class="clickable-card">
      <article>
        <div class="article-wrapper">
          <figure>
            <img src="../../../assets/Conguoi-1.jpg" alt="" />
          </figure>
          <div class="article-body">
            <h2>Cờ người</h2>
            <p>
              Cờ người là một trong số những trò chơi dân gian diễn ra trong các
              dịp lễ hội của Việt Nam nói chung và vùng đồng bằng Bắc Bộ nói
              riêng, đặc biệt trong những ngày Tết Nguyên đán của dân tộc. Cờ
              người thực chất là một môn cờ tướng do người đóng thế thành các
              quân cờ. Chơi cờ người thường tụ hội rất đông người xem nhưng tất
              cả đều phải cố giữ im lặng để người chơi không bị phân tán.
            </p>
            <span class="read-more">Tìm hiểu</span>
          </div>
        </div>
      </article>
    </a>
    <a class="clickable-card">
      <article>
        <div class="article-wrapper">
          <figure>
            <img src="../../../assets/Dangcapnhat.jpg" alt="" />
          </figure>
          <div class="article-body">
            <h2>Đang cập nhật</h2>
            <p>Đang cập nhật</p>
            <span class="read-more">Tìm hiểu</span>
          </div>
        </div>
      </article>
    </a>
  </div>
</div>
