<div id="videoplay">
  <div class="sub-videoplay">
    <div class="text-heading">
      <p>Vậy trò chơi dân gian là gì?</p>
    </div>
    <div class="text-sub">
      Chúng ta cùng xem video ngắn dưới đây để nắm được tổng quan về trò chơi
      dân gian là gì nhé!
    </div>
  </div>
  <div class="video">
    <iframe
      width="680"
      height="420"
      src="https://www.youtube.com/embed/dqgsa7-y2Yc?start=153"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</div>
