<div class="classify">
  <div class="title">
    <h1>Nhóm trò chơi luyến ái</h1>
  </div>
  <div class="cards">
    <a href="#" class="clickable-card">
      <article>
        <div class="article-wrapper">
          <figure>
            <img src="../../../assets/LuyenAi.jpg" alt="" />
          </figure>
          <div class="article-body">
            <h2>Đánh đu</h2>
            <p>
              Đánh đu là một trò chơi dân gian rất phổ biến ở Việt Nam. Chơi đu
              thường diễn ra vào những ngày Tết cổ truyền hay trong các ngày lễ
              hội đầu xuân ở các hội làng.
            </p>
            <span class="read-more">Tìm hiểu</span>
          </div>
        </div>
      </article>
    </a>
    <a href="Chi tiết" class="clickable-card">
      <article>
        <div class="article-wrapper">
          <figure>
            <img src="../../../assets/Nhaysap.jpg" alt="" />
          </figure>
          <div class="article-body">
            <h2>Nhảy sạp</h2>
            <p>
              Trò chơi nhảy sạp. Múa sạp là điệu múa dân gian đặc sắc của dân
              tộc Mường trong những dịp vui, trong lễ hội xuân, ngày nay phát
              triển rộng ra nhiều dân tộc khác. Đạo cụ cần thiết cho múa sạp
              phải có hai cây tre to, thẳng và dài làm sạp cái và nhiều cặp sạp
              con bằng tre nhỏ hay nứa (đường kính 3 đến 4cm, dài 3 đến 4m).
            </p>
            <span class="read-more">Tìm hiểu</span>
          </div>
        </div>
      </article>
    </a>
    <a href="#" class="clickable-card">
      <article>
        <div class="article-wrapper">
          <figure>
            <img src="../../../assets/Danhcau.jpg" alt="" />
          </figure>
          <div class="article-body">
            <h2>Đánh cầu lông gà</h2>
            <p>
              Theo các cụ cao niên, trò chơi “tâu tí” có từ rất lâu rồi, đã trải
              qua nhiều thế hệ và thời trẻ thì ai cũng đã từng chơi và trò chơi
              này để lại biết bao kỷ niệm; rất nhiều cặp trai gái đã nên vợ nên
              chồng khi tham gia trò chơi này. Ban ngày khi đi chơi, các chàng
              trai, cô gái Mông gặp nhau, rồi bày tỏ tâm tư, tình cảm, hẹn nhau
              đến tối sẽ tập trung tại nhà ai đó để cùng chơi trò “tâu tí”.
            </p>
            <span class="read-more">Tìm hiểu</span>
          </div>
        </div>
      </article>
    </a>
    <a class="clickable-card">
      <article>
        <div class="article-wrapper">
          <figure>
            <img src="../../../assets/Dangcapnhat.jpg" alt="" />
          </figure>
          <div class="article-body">
            <h2>Đang cập nhật</h2>
            <p>Đang cập nhật</p>
            <span class="read-more">Tìm hiểu</span>
          </div>
        </div>
      </article>
    </a>
  </div>
</div>
