<div class="classify">
  <div class="title">
    <h1>Nhóm trò chơi nghề nghiệp</h1>
  </div>
  <div class="cards">
    <a href="#" class="clickable-card">
      <article>
        <div class="article-wrapper">
          <figure>
            <img src="../../../assets/Caylua.jpg" alt="" />
          </figure>
          <div class="article-body">
            <h2>Thi cấy lúa</h2>
            <p>
              Cấy lúa mô phỏng lại công việc làm nông của người dân thuộc vùng
              nông thôn Việt Nam.
            </p>
            <span class="read-more">Tìm hiểu</span>
          </div>
        </div>
      </article>
    </a>

    <a class="clickable-card">
      <article>
        <div class="article-wrapper">
          <figure>
            <img src="../../../assets/Dangcapnhat.jpg" alt="" />
          </figure>
          <div class="article-body">
            <h2>Đang cập nhật</h2>
            <p>Đang cập nhật</p>
            <span class="read-more">Tìm hiểu</span>
          </div>
        </div>
      </article>
    </a>
  </div>
</div>
